body {
    background-color:red;
}

h1 {
    text-align: center;
    background-color: #4CAF50;
    height: 50px;
    width: 100%
    
}
h2 {
    text-align: center;
    
}
.login {
    display: flex;
    justify-content: center;
    align-items: column;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
    width: 80%;
    background-color: #89b3abc3;
    color: white;
    padding: 14px 17px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .fieldset {
    background-color: whitesmoke;
  }